{% extends "base.html" %}

{% load filters %}

{% block main_content %}

    <!-- Catalog with Albums-->
    <section id="catalogPage">

        <!--  If No albums in catalog -->
        {% if not album %}
            <p>No Albums in Catalog!</p>
        {% else %}
            <!-- If albums in catalog -->
            <h1>All Albums</h1>
            <!-- First Card-Box in catalog -->
            {% for current_album in album %}
                <div class="card-box">
                    <img src="{{ current_album.image_url }}" alt="Cover Image">
                    <div>
                        <div class="text-center">
                            <p class="name">Name: {{ current_album.album_name }}</p>
                            <p class="artist">Artist: {{ current_album.artist }}</p>
                            <p class="genre">Genre: {{ current_album.genre }}</p>
                            <p class="price">Price: {{ current_album.price|fixed }}</p>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'album details'  current_album.pk %}">Details</a>
                        </div>
                    </div>
                </div>
                <!-- End First Card-Box in catalog -->
            {% endfor %}
        {% endif %}

    </section>

{% endblock %}